{% extends 'administrator/adminTemplate.html' %}


{% block title %}
EasyKart
{% endblock %}
padding-left: 10px;font-family: Calibri;font-size: 25px;font-weight: 100;margin-left: auto;margin-right: auto;color: grey
{% block content %}
<td>
	<div style="padding-left: 10px;font-family: Calibri;font-size: 25px;font-weight: 100;margin-left: auto;margin-right: auto;color: black">
		<h1>Add New Category</h1>
		<hr>
		<form method="post" >
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add Category">
		<br><br>
		</form>
	</div>
</td>
{% endblock %}